Why OAuth 1.0a instead of OAuth 2.0?

**Why have you chosen OAuth 1.0a instead of OAuth 2.0 ([RFC 6749](https://tools.ietf.org/html/rfc6749))?** OAuth 1.0a is a futureless specification.

Many specifications have been standardized based on OAuth 2.0 so far. **[OpenID Connect](http://openid.net/connect/)** is a representative example of such specifications. As its [FAQ](http://openid.net/connect/faq/) states, major players such as AOL, Deutsche Telekom, Facebook, Google, Microsoft, Mitre Corporation, mixi, Nomura Research Institute, Orange, PayPal, Ping Identity, Salesforce and Yahoo! Japan have contributed to the standardization of OpenID Connect.

**All the ongoing discussions in OpenID Connect & OAuth [Working Groups](http://openid.net/wg/) are based on OAuth 2.0.** If you use OAuth 1.0a, you will not be able to benefit from new specifications such as [RFC 7636](https://tools.ietf.org/html/rfc7636) which is an important security specification standardizing the countermeasure against the _authorization code interception attack_. See [this mail archive](https://www.ietf.org/mail-archive/web/oauth/current/msg15392.html) of OAuth WG where Google and other companies announced their support for RFC 7636. **Compared to achievements by OpenID Connect & OAuth Working Groups, how secure can OBP-API be?**

<hr/>
FYI: The following is an incomplete list of specifications related to OAuth 2.0 and OpenID Connect.

- [RFC 6749](http://tools.ietf.org/html/rfc6749) - The OAuth 2.0 Authorization Framework
- [RFC 6750](http://tools.ietf.org/html/rfc6750) - The OAuth 2.0 Authorization Framework: Bearer Token Usage
- [RFC 6819](http://tools.ietf.org/html/rfc6819) - OAuth 2.0 Threat Model and Security Considerations
- [RFC 7009](http://tools.ietf.org/html/rfc7009) - OAuth 2.0 Token Revocation
- [RFC 7033](http://tools.ietf.org/html/rfc7033) - WebFinger
- [RFC 7515](http://tools.ietf.org/html/rfc7515) - JSON Web Signature (JWS)
- [RFC 7516](http://tools.ietf.org/html/rfc7516) - JSON Web Encryption (JWE)
- [RFC 7517](http://tools.ietf.org/html/rfc7517) - JSON Web Key (JWK)
- [RFC 7518](http://tools.ietf.org/html/rfc7518) - JSON Web Algorithms (JWA)
- [RFC 7519](http://tools.ietf.org/html/rfc7519) - JSON Web Token (JWT)
- [RFC 7521](http://tools.ietf.org/html/rfc7521) - Assertion Framework for OAuth 2.0 Client Authentication and Authorization Grants
- [RFC 7522](http://tools.ietf.org/html/rfc7522) - Security Assertion Markup Language (SAML) 2.0 Profile for OAuth 2.0 Client Authentication and Authorization Grants
- [RFC 7523](http://tools.ietf.org/html/rfc7523) - JSON Web Token (JWT) Profile for OAuth 2.0 Client Authentication and Authorization Grants
- [RFC 7636](http://tools.ietf.org/html/rfc7636) - Proof Key for Code Exchange by OAuth Public Clients
- [RFC 7662](http://tools.ietf.org/html/rfc7662) - OAuth 2.0 Token Introspection
- [OAuth 2.0 Multiple Response Type Encoding Practices](http://openid.net/specs/oauth-v2-multiple-response-types-1_0.html)
- [OAuth 2.0 Form Post Response Mode](http://openid.net/specs/oauth-v2-form-post-response-mode-1_0.html)
- [OpenID Connect Core 1.0](http://openid.net/specs/openid-connect-core-1_0.html)
- [OpenID Connect Discovery 1.0](http://openid.net/specs/openid-connect-discovery-1_0.html)
- [OpenID Connect Dynamic Client Registration 1.0](http://openid.net/specs/openid-connect-registration-1_0.html)
- [OpenID Connect Session Management 1.0](http://openid.net/specs/openid-connect-session-1_0.html)


(just to chirp in, I didn't take a look if you are using OAuth 1.0 but it's clearly deprecated: https://developers.google.com/identity/protocols/OAuthForWebApps so I'd be cautious not upgrading to 2.0 if indeed there is no 2.0 option)

The following is the content of 'Abstract' of [RFC 6749](https://tools.ietf.org/html/rfc6749) (The OAuth 2.0 Authorization Framekwork).

> The OAuth 2.0 authorization framework enables a third-party application to obtain limited access to an HTTP service, either on behalf of a resource owner by orchestrating an approval interaction between the resource owner and the HTTP service, or by allowing the third-party application to obtain access on its own behalf.  **This specification replaces and obsoletes the OAuth 1.0 protocol described in RFC 5849.**

It is mentioned also at the top of the HTML version of [RFC 5849](https://tools.ietf.org/html/rfc5849) (The OAuth 1.0 Protocol) like below.

> **Obsoleted by: 6749**


If choice of OAuth 1.0 was made based on "[OAuth 2.0 and the Road to Hell](http://hueniverse.com/2012/07/26/oauth-2-0-and-the-road-to-hell/)", it must be noted that HMAC of OAuth 1.0 does not ensure any security for smartphone client applications and web browser-based applications. **The blog post insists that OAuth 1.0 is more secure than OAuth 2.0, but the argument requires the assumption that smartphone applications can keep consumer secrets confidential. However, the assumption is naive.** The specification of OAuth 2.0 (RFC 6749) clearly recognizes the incapability in [2.1. Client Types](https://tools.ietf.org/html/rfc6749#section-2.1) as excerpted below.

> confidential
>   &nbsp; &nbsp; Clients capable of maintaining the confidentiality of their
>   &nbsp; &nbsp; credentials (e.g., client implemented on a secure server with
>   &nbsp; &nbsp; restricted access to the client credentials), or capable of secure
>   &nbsp; &nbsp; client authentication using other means.
> 
> public
>   &nbsp; &nbsp; **Clients incapable of maintaining the confidentiality of their
>   &nbsp; &nbsp; credentials (e.g., clients executing on the device used by the
>   &nbsp; &nbsp; resource owner, such as an installed native application or a web
>   &nbsp; &nbsp; browser-based application)**, and incapable of secure client
>   &nbsp; &nbsp; authentication via any other means.

In addition, [9. Native Applications](https://tools.ietf.org/html/rfc6749#section-9) says as follows.

> Native applications that use the authorization code grant type
> SHOULD do so without using client credentials, **due to the native
> application's inability to keep client credentials confidential.**

The OAuth 1.0 protocol is based on HMAC, and HMAC is a **symmetric** algorithm using a **shared** secret key. It is well known that shared secret keys are easily extracted from smartphone applications by crackers. On smartphone applications and web browser-based applications, computing `oauth_signature` and other `oauth_*` values using HMAC does not enhance security. It's just a cumbersome calculation without any security enhancement.

[Open Data Institute](http://opendata.institute/) released a report titled "[The Open Banking Standard](http://ja.scribd.com/doc/298569302/The-Open-Banking-Standard)" (148 pages) on Feb 08, 2016.

"7c. 2.2 Authentication" (p.41) in the report says as follows.

> **OAuth 2.0 in conjunction with OpenID Connect are recommended** as authentication protocols of choice - future work will be needed to specify the precise model.

In addition, the whole content of "7c. 8. Security and Authentication Aspects of the API Specification" (p.47-p.50) is an explanation about OAuth 2.0.

"Table A6.2 Pros and cons of open authorisation protocols" (p.121) in "Appendix 6. Open banking: risks and mitigants" lists pros and cons of OAuth 1.0, OAuth 2.0 and OpenID Connect. Cons of OAuth 1.0 listed there are as follows.

- Good for browser-based sites but not such a good story for mobile apps
- Concerns mixed-resource server and authorisation server, also request signing
- Harder for developers to get started with
- Not much further development going on
- OAuth 1 was officially deprecated in April 2012

This was my first thought when reading the spec - I was actually shocked that OAuth 2 was not the obvious choice.
OpenID-Connect on top of OAuth 2 is the clear choice, especially if transparency is a core value if the OBP.